@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.tf{
    font-family: 'Concert One', cursive;
}
body{
    background:rgb(241 245 249);
    font-family: 'Andika', serif;
}
::-webkit-scrollbar{
    color: black;
    width: 0.5rem;
}
::-webkit-scrollbar-thumb{
    background-color: #FB923C;
    border-radius: 5px;
}
::-webkit-scrollbar-track-piece{
    background-color: #0F172AF2;
}